#tickers-grid {
    display: flex;
    flex-wrap: wrap;
}

.stock-box {
    width:200px;
    height:240px;
    border:1px solid #333;
    margin:10px;
    padding:10px;
    transition:background-color 0.5s;
    background:#eee;
}

.light-red{
    color: #e94c37;
}

.red {
    color: #941909;
}

.light-green{
    color: #3dd429
}

.green{
    color: #179806;
}

.gray{
    color: #969191
}

#tickers-grid {
    display:flex;
    flex-wrap:wrap;
}

.stock-box {
    width:200px;
    height:240px;
    border:1px solid #333;
    margin:10px;
    padding:10px;
    color: black;
}

.red-flash {
    transition:background-color 1s;
    background-color: #f6a99f;
}

.green-flash {
    transition:background-color 1s;
    background-color: #afe4a8;
}

.gray-flash {
    transition:background-color 1s;
    background-color: #969191;
}

.stock-box h2 {
    margin-bottom: 2px;  /* space below the ticker symbol */
}

.stock-box p {
    margin-bottom: 10px;  /* space below price and percentage */
}

.stock-box canvas {
    display: block;
    margin-bottom: 10px;  /* space below each chart */
}

.stock-box button {
    margin-top: 2px;  /* space above the remove button */
}

.chart-row {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.chart-row canvas {
    max-width: 100px;
    max-height: 30px;
}

.chart-label {
    margin-left: 15px;
    font-size: 0.8em;
    color: #0c0c0c;
    white-space: nowrap;
}